{% include '@mica/menu.twig' %}


<section class="container-fluid full menu-space relative" id="top">

    <div class="top_back fixed">

        <!-- <video class="video" autoplay poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid"
            loop>
         <source src="{{ base_path ~ directory }}/img/backgrounds/dog.mp4" type="video/webm">
         <source src="{{ base_path ~ directory }}/img/backgrounds/dog.mp4" type="video/mp4">
     </video> -->

    </div>


    <div class="top_back absolute">

        <div class="row">

            <div class="col-xs-12 topwrapper center">
                <h1 class="yellow heading">Eine Idee im Kopf?</h1>
                <div class="arrow bounce"></div>
            </div>
        </div>
    </div>


</section>

<div class="page-wrapper">

    <section class="container-fluid full white" id="team">

        <div class="team-container container section-space-bottom">
            <div class="row">
                <div class="headline-wrapper center col-xs-12 title">
                    <h2 class="nomargin-bottom uppercase heading">wer <span class="yellow">wir</span> sind</h2>
                    <h3 class="nomargin uppercase">und was wir können</h3>

                </div>

                <div class="portrait-wrapper col-sm-6">
                    <img class="team-image blackwhite"
                         src="{{ base_path ~ directory }}/img/caroline.jpg">

                    <h2 class="team-name yellow bold uppercase">Caroline</h2>

                    <p>Meine Schwester besitzt die unglaubliche Superkraft koffeinhaltige Heißgetränke in wundervolle
                        Designs zu verwandeln. Sei es Digital oder Print, sie hat das nötige Auge für passende Farben,
                        stimmige Proportionen und ausgefallene Typografie. Und das sind nur einige wenige ihrer Stärken.
                        Neue Projekte begrüßt sie mit funkelnden Augen und beneidenswert viel Engagement, sei es für
                        eine
                        Hand voll Visitenkarten oder ein rundum Corporate Design.</p>

                    <div class="skills left">

                        <span class="tag">#Interface Design</span>
                        <span class="tag">#Illustration</span>
                        <span class="tag">#Konzeption</span>
                        <span class="tag">#Design</span>
                        <span class="tag">#Fotografie</span>
                    </div>

                </div>

                <div class="portrait-wrapper col-sm-6">
                    <img class="team-image blackwhite" src="{{ base_path ~ directory }}/img/michael.jpg">

                    <h2 class="team-name yellow bold uppercase">Michael</h2>

                    <p>Pixelschupser, Computernerd oder Tastaturhacker. Das sind nur einige der vielen netten
                        Umschreibungen
                        mit denen mein Bruder täglich aufs Neue konfrontiert wird. Man könnte ihn als Gehirn unserer
                        Zusammenarbeit bezeichnen und dabei fasziniert es mich immer wieder, wie er mit so viel Liebe
                        zum
                        Detail arbeitet – und das obwohl er die technische Seite von Mica repräsentiert. Die
                        Leidenschaft
                        für beinahe alles, was elektronisch funktioniert, begann bei meinem Bruder schon bevor er einen
                        Schritt in die Grundschule machen konnte.

                    </p>

                    <div class="skills right">
                        <span class="tag">#HTML5</span>
                        <span class="tag">#SASS</span>
                        <span class="tag">#Javascript</span>
                        <span class="tag">#AngularJS</span>
                        <span class="tag">#Swift</span>
                        <span class="tag">#Ionic</span>
                        <span class="tag">#NodeJS</span>
                        <span class="tag">#Drupal</span>
                    </div>

                </div>
            </div>
        </div>


    </section>


    <section class="container-fluid whitea">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <h1 class="brand yellow">Aus einer Idee eine Marke schaffen</h1>

                </div>
            </div>
        </div>
    </section>


    <section class="container-fluid full white section-space">
        <div class="container">
            <div class="row">

                <div class="headline-wrapper-separator center col-xs-12 title">
                    <h2 class="nomargin uppercase heading">um <span class="yellow">was</span> geht's</h2>
                    <h3 class="no-letter-spacing  nomargin uppercase">hier eigentlich genau</h3>
                </div>

                <div class="skills-wrapper">

                    <div class="skill beratung col-sm-3 col-xs-12">

                        <img class="center img-responsive" src="{{ base_path ~ directory }}/img/skills/konzept.svg">
                        <div class="text">
                            <h4 class="uppercase">Konzeption</h4>
                            <p>
                                Wen soll das Produkt ansprechen und was soll es vermitteln? Diese Fragen gilt es zu
                                beantworten, bevor wir
                                uns um Form und Farbe kümmern. Wir nehmen also unsere Stifte in die Hand und skribbeln
                                was
                                das Zeug hält,
                                oder besser gesagt, bis wir zufrieden sind. Denn erst mit einer passenden Lösung für
                                dein
                                Produkt machen
                                wir
                                weiter mit dem nächsten Schritt.

                            </p>
                        </div>
                    </div>

                    <div class="skill konzept col-sm-3 col-xs-12">
                        <img class="center img-responsive" src="{{ base_path ~ directory }}/img/skills/print.svg">
                        <div class="text">
                            <h4 class="uppercase">Print</h4>
                            <p>
                                Tausend Gedanken im Kopf? Nur Chaos und keine Struktur? Wir holen unsere Schwerter aus
                                dem
                                Keller, wischen
                                den Staub ab und besiegen die Angst vor dem weißen Blatt. Wir machen deine Ideen zu
                                Worten
                                und deine
                                Vorstellungen zu Bildern.
                            </p>
                        </div>
                    </div>

                    <div class="skill webdesign col-sm-3 col-xs-12">
                        <img class="center img-responsive" src="{{ base_path ~ directory }}/img/skills/web.svg">
                        <div class="text">
                            <h4 class="uppercase">Web/App</h4>
                            <p>
                                Neben unserer täglichen Arbeit im Web toben wir uns auch immer wieder mit unseren
                                Smartphones aus. Denn
                                neben der guten alten Website schlagen unsere Herzen für die kleinen Freuden des Lebens
                                –
                                schicke mobile
                                Applikationen.
                            </p>

                        </div>
                    </div>

                    <div class="skill webdesign col-sm-3 col-xs-12">
                        <img class="center img-responsive" src="{{ base_path ~ directory }}/img/skills/uiux.svg">
                        <div class="text">
                            <h4 class="uppercase">UI/UX</h4>
                            <p>
                                Wie sieht deine Website aus und wie fühlt sich deine App bei der Nutzung an? Stets nach
                                der
                                Devise »Form
                                Follows Function« wird ein Interface erst durch gelungene Benutzbarkeit schön. Sowohl
                                das
                                Interface als
                                auch
                                die Experience sind entscheidende Faktoren dafür, wie dein Produkt bei seinen Nutzern
                                wahrgenommen wird.
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </section>

</div>

{% include '@mica/footer.twig' %}
